@model dynamic


<!DOCTYPE html>


<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @using (Html.BeginForm("Tweet", "Tweets", "POST"))
    {
        @Html.TextArea("content")
        ;
        <input type="submit" value="Tweet"/>
    }
</div>
</body>
</html>